@{
    ViewBag.Title = "О проекте";
}
<h2>@ViewBag.Title</h2>
@*<h3>@MvcHtmlString.Create(ViewBag.Message)</h3>*@

<p>
    Встраиваемая технология нечеткого поиска для различных систем, таких как веб-сайты, учетные системы, базы данных и т.д.
</p>

<p>
    Нечеткий поиск в тексте является актуальной задачей, если необходимо найти информацию по некоторым фрагментам строк и заранее
    неизвестно, в каких сочетаниях эти фрагменты могут встретиться в тексте.
</p>

<p>
    Принцип работы алгоритма TextRadar основан на корреляционном анализе в его интерпретации применительно к текстовым данным.
    Алгоритм оригинален и не является компиляцией какого-либо из широко известных методов нечеткого сравнения строк.
</p>
<p>
    Подробнее об алгоритме здесь: <a href="https://habr.com/ru/post/474706/" target="_blank"> Алгоритм нечеткого поиска TextRadar. Основные подходы</a>
    и здесь: <a href="https://habr.com/ru/post/497650/" target="_blank"> Алгоритм нечеткого поиска TextRadar. Артефакты</a>
</p>
<p>
    Сравнение c аналогами: <a href="https://youtu.be/pPiFCWCsvtI" target="_blank"> Сравнение алгоритма нечеткого поиска TextRadar c аналогами: Lucene, Sphinx, Яндекс, 1С</a>
</p>
<p>
    Скачать демо-проект с базовой функциональностью (C# ASP.NET MVC) можно здесь: <a href="https://github.com/tsaregorodtseff/TextRadar" target="_blank"> https://github.com/tsaregorodtseff/TextRadar</a>
    <br />
    Скачать демо-проект с расширенной функциональностью (C# ASP.NET MVC) можно здесь: <a href="https://github.com/tsaregorodtseff/TextRadarExtended" target="_blank"> https://github.com/tsaregorodtseff/TextRadarExtended</a>
</p>
    
    
